<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oym.generate.dao.TableDao">
    <resultMap id="BaseResultMap" type="com.oym.generate.domain.dataobject.TableDO">
        <result column="id" jdbcType="BIGINT" property="id" javaType="java.lang.Long"/>
        <result column="table_name" jdbcType="VARCHAR" property="tableName" javaType="java.lang.String"/>
        <result column="table_description" jdbcType="VARCHAR" property="tableDescription" javaType="java.lang.String"/>
        <result column="author" jdbcType="VARCHAR" property="author" javaType="java.lang.String"/>
        <result column="class_name" jdbcType="VARCHAR" property="className" javaType="java.lang.String"/>
        <result column="module_name" jdbcType="VARCHAR" property="moduleName" javaType="java.lang.String"/>
        <result column="package_path" jdbcType="VARCHAR" property="packagePath" javaType="java.lang.String"/>
        <result column="function_name" jdbcType="VARCHAR" property="functionName" javaType="java.lang.String"/>
        <result column="path" jdbcType="VARCHAR" property="path" javaType="java.lang.String"/>
    </resultMap>

    <sql id="Base_Column_List">
        create_date
        , update_date, remarks, del_flag, id, table_name, table_description, author, class_name, module_name, package_path, function_name, path
    </sql>

    <!-- 查询条件语句  -->
    <sql id="where_fragment">
        <where>
            1 = 1
            <if test="createDate != null">
                AND create_date = #{createDate}
            </if>
            <if test="id != null and id != ''">
                AND id = #{id}
            </if>
            <if test="tableName != null and tableName != ''">
                <bind name="tableName" value="'%' + tableName + '%'"/>
                AND table_name like #{tableName}
            </if>
            <if test="tableDescription != null and tableDescription != ''">
                <bind name="tableDescription" value="'%' + tableDescription + '%'"/>
                AND table_description like #{tableDescription}
            </if>
            <if test="author != null and author != ''">
                <bind name="author" value="'%' + author + '%'"/>
                AND author like #{author}
            </if>
            AND del_flag = 0
        </where>
    </sql>

    <!-- 分页查询 -->
    <select id="list" parameterType="com.oym.generate.domain.dataobject.TableDO" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        generate_table
        <!-- 查询条件 -->
        <include refid="where_fragment"/>
    </select>

    <!-- 获取单个表描述信息 -->
    <select id="getOne" parameterType="com.oym.generate.domain.dataobject.TableDO" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        generate_table
        <!-- 查询条件 -->
        where table_name = #{tableName}
    </select>
</mapper>
